html, body, #home{
    height: 100%;
}

body{
    background: black;
}

.capa {
    text-align: center;
}
.logo {
    border-radius: 10px;
}

#servicos {
    padding-top: 20px;
    padding-bottom: 20px;
}
.albuns {
    padding-top: 10px;
    padding-bottom: 10px;
}

